@{
    ViewData["Title"] = "Access denied";
    Layout = "";
}


<div class="container" style="margin-bottom:30px">
    <header>
        <h2 class="text-danger">Sign-In Failed</h2>
        <p class="text-danger">ACCESS DENIED: You do not have access to this resource.</p>
    </header>
</div>