@model PayTransact.Models.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "";
}

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>@ViewData["Title"] - Pay Transact</title>
<link rel="icon" href="~/images/PayTransIcon.ico" type="image/x-icon">
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
<link href="~/twitter-bootstrap/css/bootstrap-reboot.css" rel="stylesheet" />
<link href="~/font-awesome/css/all.css" rel="stylesheet" />
<link href="~/font-awesome/css/fontawesome.css" rel="stylesheet" />
<link href="~/jqueryui/jquery-ui.css" rel="stylesheet" />
<link rel="stylesheet" href="~/css/site.css" />
<link href="~/css/Login.css" rel="stylesheet" />

<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto mt-5 col-md-8">
   <div class="font-weight-bolder">
       <h3 style="font-family:'Baskerville Old Face'; font-weight:bolder">PAY TRANSACT SOLUTIONS</h3>
   </div>
    <div class="card card0 border-0">
        <div class="row d-flex">
            <div class="col-lg-6">
                <div class="card1 pb-5">
                    <div class="row px-3 justify-content-center mt-4 mb-5 border-line"> <img src="https://i.imgur.com/uNGdWHi.png" class="image"> </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card2 card border-0 px-4 py-5 mt-5">
                    <form asp-action="Login" method="post" enctype="multipart/form-data">
                        <div class="row px-3">
                            <label asp-for="Username" class="control-label"></label>
                            <input asp-for="Username" class="form-control" />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        <div class="row px-3">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <hr />
                        <div class="row mb-3 px-3"> <input type="submit" value="Login" class="btn btn-blue" /> </div>
                        <div class="row mb-4 px-3"> <small class="font-weight-bold">Don't have an account? <a asp-controller="Identity" asp-action="Register" class="text-danger">Register</a></small> </div>
                    </form>
                    @if (ViewBag.Error != null)
                     {
                        <div class="alert alert-danger">
                            @ViewBag.Error;
                        </div>
                    }
                    
                </div>
            </div>
        </div>
        <div class="bg-blue py-4">
            <div class="row px-3">
                <small class="ml-4 ml-sm-5 mb-2">Copyright &copy; @DateTime.Now.Year. Pay Transact | All rights reserved.</small>
            </div>
        </div>
    </div>
</div>