<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>@ViewData["Title"] - Pay Transact</title>
<link rel="icon" href="~/images/PayTransIcon.ico" type="image/x-icon">
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
<link href="~/twitter-bootstrap/css/bootstrap-reboot.css" rel="stylesheet" />
<link href="~/font-awesome/css/all.css" rel="stylesheet" />
<link href="~/font-awesome/css/fontawesome.css" rel="stylesheet" />
<link href="~/jqueryui/jquery-ui.css" rel="stylesheet" />
<link rel="stylesheet" href="~/css/site.css" />
<link href="~/css/Login.css" rel="stylesheet" />